body
{
    background-color: skyblue;
    color: brown;
    /*background-image: url("tournesols.jpg");
  
background-position: 30px 50px;*/



    /*background-attachment: fixed;  Le fond restera fixe */
    /*background-repeat: no-repeat; /* Le fond ne sera pas répété */
   /* background-position: top right; /* Le fond sera placé en haut à droite */

}
h1 {
   color: red;
}